<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link href="{% static '/css/base.css' %}" rel="stylesheet" type="text/css">
    <!-- favicon start -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon end -->

    {% block head %}
        {% block title %} {% endblock title %}
    {% endblock head %}
</head>
<body>
    <header>
        <div class="header-block">
            <div class="logo">
                <h2>Logbook</h2>
            </div>
            <div class="link">
                <div>
                    Login Connectivity :
                    <a href="{% url 'home' %}">Home</a> &nbsp; &nbsp;
                    <a href="{% url 'reg' %}">Registration</a> &nbsp; &nbsp;
                    <a href="{% url 'log' %}">Login</a>
                    <a href="{% url 'show' %}">Show</a>
                    {% block connectivity %}
                    {% endblock connectivity %}
                </div>
            </div>
        </div>
        {% block header %}
        {% endblock header %}
    </header>
    {% block content %} {% endblock content %}
</body>
</html>