{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>Register</title>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

{% endblock head %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Register Data</h1>
        </div>
        {% if messages %}
            <ul>
            {% for msg in messages %}
                <li id="error_text" {% if msg.tags %} class="{{msg.tags}}" {% endif %}>
                    {{msg}}
                </li>
            {% endfor %}
            </ul>
            <p id="error"></p>
        {% endif %}
        <div class="main">
            <form method="POST" action="" class="form" id="signupForm">
                {% csrf_token %}
                <div>
                    <label class="name">Name</label>
                    <input type="text" name="name" placeholder="Name" id="id_name">
                </div>
                <br>

                <div>
                    <label class="name">Email</label>
                    <input type="text" name="email" placeholder="Email" id="id_email">
                </div>
                <br>

                <div>
                    <label class="name">Contact</label>
                    <input type="number" name="contact" placeholder="Mobile Number" id="id_contact">
                </div>
                <br>

                <div>
                    <label class="name">Password</label>
                    <input type="password" name="password" placeholder="Password" id="id_password">
                </div>
                <br>
                <div>
                    <label class="name">Confirm Password</label>
                    <input type="password" name="re_password" placeholder="Password" id="id_re_password">
                </div>
                <br>

                <div>
                    <button type="submit" class="btn">Register</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script>
        $(document).on('submit', '#signupForm', function(e){
            e.preventDefault();
            var name = $(#id_name).val()
            var email = $(#id_email).val()
            var contact = $(#id_contact).val()
            var password = $(#id_password).val()
            var re_password = $(#id_re_password).val()

            $.ajax({
                type: 'POST',
                url: '/reg/',
                data = {
                    name: name,
                    email: email,
                    contact: contact,
                    password: password,
                    re_password: re_password,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(response){
                    console.log(response)
                    var error = $(response).find('#error_text')
                    console.log(error);
                    var error_class = $(error).attr('class')
                    console.log(error_class);
                    console.log(error.text())
                    $('#error').addClass(error_class)
                    $('#error').text(error.text())
                }
            })
        })
    </script>

{% endblock content %}