<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Person Records</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/show.css' %}"/>
</head>
<body>
<div class="container">
    <table class="main">
        <thead class="thead-dark">
        <tr>
            <th>Name &nbsp; &nbsp;</th>
            <th>Email &nbsp; &nbsp;</th>
            <th>Contact &nbsp; &nbsp;</th>
            <th>Password &nbsp; &nbsp;</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.name }} &nbsp; &nbsp;</td> &nbsp; &nbsp;
            <td>{{ employee.email }} &nbsp; &nbsp;</td> &nbsp; &nbsp;
            <td>{{ employee.contact }} &nbsp; &nbsp;</td> &nbsp; &nbsp;
            <td>{{ employee.password }} &nbsp; &nbsp;</td> &nbsp; &nbsp;
            <td>
                <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                <a href="/delete/{{ employee.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
    <div class="sub-body">
        <center class="cover"><a href="reg" class="btn btn-primary">Add New Record</a></center>
        <center class="cover_1"><a href="login" class="btn btn-primary">Login</a></center>
    </div>
<br>
<hr/>
    {% if messages %}
        {% for msg in messages %}
            <b>{{msg}}</b>
        {% endfor %}
    {% endif %}
<hr/>
</body>
</html>